.App {
  text-align: center;
}

.component, .show{
  border: 1px solid black;
  border-radius: 2em;
  margin: 2em;
}


.hidden{
  opacity: 0;
}

.show{
  transition-timing-function: ease-in;
  opacity: 1;
  transition: all 3s;
}